.font-top{
    font: Arial;
    font-size: bold;
    color: rgb(96, 96, 96);
    object-position: center;
    text-align: left;

}
.search-bar{
    font-size: large;
    width: 300px;
}
.sate-tement{
    font: Arial;
    font-size: bold;
    color: rgb(96, 96, 96);
    object-position: center;
    text-align: left;

}
.Agree-button{
    background-color:royalblue;
    color: white;
    border-radius: 18px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    vertical-align: top;
    padding-left: 16px;
    padding-right: 16px;
    padding-top:8px ; 
    padding-bottom: 8px;
   
}
