.shopping-text{
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.line-text{
    font-size: 16px;
    text-align: center;
    font-weight:500;
    font: arial;
}
.blue-text{
    text-align: center; 
    color: blue;
    font-size: 16px;  

}
.blue-text:hover{
    text-decoration: underline;
    cursor: pointer;
    
}